@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: "Epilogue", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background: #FAF8F6;
    padding: 5rem 16.5rem;
}

header{
    display: flex;
    justify-content: space-between;
}

header .beta-access{
    font-size: 1.6rem;
    background: transparent;
    color:#172339;
    border: 1px solid #172339;
    border-radius: 6px;
    cursor: pointer;
    padding: 1.5rem 2rem;
}

.section-1{
    display: flex;
    position: relative;
    margin: 10rem 0 20rem 0;
    height: 60rem;
    justify-content: space-between;
}

.section-1 img{
    position: absolute;
}

.section-1 .phone{
    left: 45%;
    z-index: -1;
}

.section-1 .phone-mobile{
    display: none;
    margin-top: 55rem;
    margin-bottom: 120rem;
    width: 100%;
}

.section-1 .curved-line{
    left: 38%;
    top: 5rem;
    max-width: 90%;
}

.product{
    width: 75%;
    max-width: 63.5rem;
    margin-top: 10rem;
}

.main-heading{
    font-size: 7.2rem;
}

.main-heading span{
    font-weight: 400;
}

.product p{
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 4rem 0 5.2rem;
    color: #49566D;
    width: 35rem;
}

.product .beta-access{
    cursor: pointer;
    background:#172339;
    padding: 1.5rem 3.2rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.8rem;
    color:#FAF8F6;
    font-weight: 700;
    line-height: 3.2rem;
}

.product .beta-access:hover{
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

.product-numbers{
    display: flex;
    flex-direction: column;
    margin: 10rem 25rem 0 0;
}

.product-numbers h2{
    font-size: 4.8rem;
    margin-bottom: 1rem;
}

.product-numbers p{
    font-size: 1.6rem;
    text-transform: uppercase;
    color:#49566D;
    letter-spacing: 0.25rem;
}

.product-numbers div:nth-child(2) h2{
    margin-top: 6.3rem;
}

.product-numbers div:nth-child(2) p{
    margin-bottom: 6.3rem;
}

.section-2{
    position: relative;
    background-color:#172339;
    color:#F3EDE7;
    border-radius: 1.5rem;
    height: 54.5rem;
    padding: 8.8rem 15rem;
    display: flex;
    justify-content: flex-end;
}

.section-2 .jeremy-img{
    max-width: 80%;
    position: absolute;
    bottom: 0;
    left: 20rem;
}

.section-2 .curved-line{
    position: absolute;
    top: 35%;
    left: 65rem;
    transform: translate(-50%, -50%);
}

.section-2 .text{
    width: 36%;
}

.section-2 h2{
    font-size: 4.8rem;
    color:#FAF8F6;
}

.section-2 h2 span{
    font-weight: 400;
}

.section-2 p{
    font-size: 2rem;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
    margin: 4rem 0;
}

.section-2 .name{
    color:#FAF8F6;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 32px;
}

.section-2 .job{
    font-size: 1.6rem;
    letter-spacing: 0.25rem;
    line-height: 26px;
}

footer{
    margin-top: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .copyright{
    font-size: 1.7rem;
    color:#49566D;
}

.social-medias a:nth-child(2){
    margin: 0 2.8rem;
}

.social-medias a:hover{
    opacity: 0.5;
}

@media screen and (max-width: 1680px) {
    .product-numbers{
        margin: 10rem 5rem 0 0;
    }
    
    .section-2{
        padding: 8.8rem 12.5rem 8.8rem 0;
    }

    .section-2 .curved-line{
        left: 55rem
    }
    .section-2 .jeremy-img{
        left: 12rem;
    }
}

@media screen and (max-width: 1400px) {
    body{
        padding: 5rem 4rem;
    }
    .main-heading{
        font-size: 5.6rem;
    }
}

@media screen and (max-width: 1150px) {
    html{
        font-size: 55%;
    }
    .section-1{
        flex-direction: column;
        margin-bottom: 40rem;
    }
    .product-numbers{
        flex-direction: row;
        margin-top: 25rem;
        justify-content: space-between;
        padding: 0 5rem;
    }
    .product-numbers div{
        text-align: center;
    }
    .product-numbers div:nth-child(2) h2, .product-numbers div:nth-child(2) p{
        margin: 0;
    }
    .section-1 .curved-line{
        left: auto;
        right: 20rem;
    }
    .section-1 .phone{
        left: auto;
        right: 0;
    }
    .section-2{
        height: auto;
        text-align: center;
        padding: 6rem;
    }
    .section-2 .jeremy-img{
        top: -18rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .section-2 .curved-line{
        left: 50%;
        transform: translateX(-50%);
        top: 52rem;
    }
    .section-2 .text{
        margin-top: 55rem;
        width: 100%;
    }
}

@media screen and (max-width: 740px) {
    .section-1 .phone{
        display: none;
    }
    .section-1 .phone-mobile{
        display: block;
    }
    .product-numbers{
        display: static;
        margin: 65rem 0;
    }
    .section-2{
        margin-top: 80rem;
    }
}

@media(max-width: 640px) {
    .product-numbers{
        margin: 55rem 0;
    }
}

@media(max-width: 600px) {
    html{
        font-size: 50%;
    }
    .section-1 .curved-line{
        left: 50%;
        transform: translateX(-50%);
        top: 0rem;
    }
    .section-1 .phone-mobile{
        margin-top: 55rem;
    }
}

@media(max-width: 490px) {
    .section-1 .phone-mobile{
        margin-top: 65rem;
    }
    .product-numbers{
        flex-direction: column;
        margin: 48rem 0;
    }
    .product-numbers div{
        margin: 2rem 0;
    }
    .section-2{
        margin-top: 110rem;
    }
    footer{
        flex-direction: column;
        align-items: center;
        height: 20rem;
        justify-content: space-between;
    }
}

@media(max-width: 375px) {
    html{
        font-size: 40%;
    }
    .section-2{
        margin-top: 100rem;
    }
    .section-2 .curved-line{
        top: 50rem;
    }
}